<div>
  <div class="d-flex align-items-stretch">

    <%= render 'user/session_sidebar_manager' %>

    <div class="p-2" style="width: 100%">
      <div class="col-10 bg-white" style="width: 99%">
        <div style="height: 88vh; padding: 3rem; background-color: #F9FAFB; border-radius: 17px;">

        <div style='text-align:center'>
          <%= render 'layouts/pop_ups' %>
        </div>

          <!--import function is not yet built-->
          <%= form_tag  upload_users_url, name: 'upload_user', multipart: true do%>

            <div style="outline: dimgrey dashed 1px;padding: 1rem; border-radius: 18px; border-color: lightslategrey; height: 60vh">
              Upload File<br>
              <div style="margin: 5rem 17rem">
                <div style="margin-outside: 2rem; background-color: #E2E2FA; border-radius: 14px">
                  <div class="importss btn btn-primary mt-3 mb-3" style="width: 95%; padding: 2rem; margin-left: 1rem; font-size: 2rem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-cloud-arrow-up cloud_sym" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                      <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                    </svg>
                    Select file to upload
                    <%= file_field_tag :file_csv, accept: ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel", onchange:("javascript: document.upload_user.submit()") %><br>
                  </div><br>
                </div>
              </div>
                <%#= submit_tag 'Upload', class:'btn btn-primary'%>
            </div>

          <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
