<div>
  <div class="d-flex align-items-stretch">

    <%= render 'user/session_sidebar_manager' %>

    <div class="p-2" style="width: 100%">
      <div class="col-10 bg-white" style="width: 99%">
        <div style="padding: 9px; background-color: #F9FAFB; border-radius: 17px;">

          <div class="row" style="height: 88vh">
            <%#= render 'admin/export_btn' %>

            <div class="mast">

              <div style>
                <div class="kd">
                  <span class="dot imgspan"> <%= image_tag("report_logo.svg") %> </span>
                </div>
<!--                <div class="plate"></div>-->
              </div>

              <div class="pt-3 dekho">

                <h5 class="dekhsize lip">All Users</h5>
                <small class="trash">Posts, comments and likes count</small>

                <div class="meh">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="all_usr_pcl_excel" value="excel">
                    <label class="form-check-label" for="all_usr_pcl_excel">Excel</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="all_usr_pcl_csv" value="csv">
                    <label class="form-check-label" for="all_usr_pcl_csv">.CSV</label>
                  </div>
                  <div>
                    <button id="all_usr_pcl_download" class="btn btn-primary mb-4 w-75 mt-4 rounded-pill" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);">Download</button>
                  </div>
                </div>

              </div>
            </div>

            <div class="mast">
              <div class="kd">
                <span class="dot imgspan"> <%= image_tag("report_logo.svg") %> </span>
              </div>

              <div class="dekho pt-3">
                <h5 class="dekhsize lip">All Users</h5>
                <small class="trash">Having more than 10 posts.users</small>

                <div class="meh">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="usr_tenp_excel" value="excel">
                    <label class="form-check-label" for="usr_tenp_excel">Excel</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="usr_tenp_csv" value="csv">
                    <label class="form-check-label" for="usr_tenp_csv">.CSV</label>
                  </div>
                  <div>
                    <button id="usr_tenp_download" class="btn btn-primary mb-4 w-75 mt-4 rounded-pill" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);">Download</button>
                  </div>
                </div>

              </div>
            </div>

            <div class="mast">
              <div class="kd">
                <span class="dot imgspan"> <%= image_tag("report_logo.svg") %> </span>
              </div>

              <div class="pt-3 dekho">
                <h5 class="dekhsize lip">Postwise Report</h5>
                <small class="trash">Title/description, comments, likes</small>

                <div class="meh">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="postwise_user_excel" value="excel">
                    <label class="form-check-label" for="postwise_user_excel">Excel</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="postwise_user_csv" value="csv">
                    <label class="form-check-label" for="postwise_user_csv">.CSV</label>
                  </div>
                  <div>
                    <button id="postwise_user_btn" class="btn btn-primary mb-4 w-75 mt-4 rounded-pill" style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);">Download</button>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
