<div>
  <% if notice %>
    <p class="notice" style="color: lawngreen; text-align: center"><%= notice %></p>
  <% elsif alert %>
    <p class="alert" style="color: orangered; text-align: center"><%= alert %></p>
  <% end %>
</div>
